[Unit]
Description=plover daemon
BindsTo=translation_pin_en.service
After=translation_pin_en.service

[Service]
Type=simple
TimeoutStartSec=infinity
ExecStart=/usr/bin/plover -g none
Restart=always

[Install]
Alias=plover
WantedBy=translation_pin_en.service
