[Unit]
Description=bluetooth pin enabled

[Service]
Type=simple
TimeoutStartSec=infinity
# Active while the bluetooth pin (0) is active.
ExecStartPre=/usr/bin/pin_enable_wait 0
ExecStart=/usr/bin/pin_disable_wait 0
Restart=always

[Install]
WantedBy=multi-user.target
RequiredBy=bluetooth.service
