[Unit]
Description=keyboard capture
After=multi-user.target

[Service]
Type=notify
ExecStart=/usr/bin/keyboard
Restart=always

[Install]
WantedBy=multi-user.target
