[Unit]
Description=update storage-mode status
After=multi-user.target

[Service]
Type=notify
TimeoutStartSec=infinity
ExecStart=/usr/bin/storage_pin_status
Restart=always

#[Install]
#WantedBy=multi-user.target
