[Unit]
Description=usb charging only
After=multi-user.target

[Service]
Type=notify
TimeoutStartSec=infinity
ExecStart=/usr/bin/usb_charging
Restart=always

#[Install]
#WantedBy=multi-user.target
